.row  div img:hover {
	box-shadow: 1px 1px 5px #000000;
	margin-top: -1px;
}
.rexiao{
    height:100px;
    background-color:antiquewhite;
}
.rxz{
    text-align:center;
    font-size:88px;
}
ul li{
    display:inline;
}
ul li span{
    margin-bottom:-20px;
    margin:auto;
    
}
ul li span:hover{
    box-shadow:inset;
    margin-bottom:20px;
}