@model IEnumerable<Models.GGCC>
@{
    Layout = null;
}
<style>
    ul li {
        display: none;
        display: inline-block;
    }
</style>


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 默认的导航栏</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("GoodsShow","Mall",new { season=@item.Season.Trim()
    })">@item.Season</a>
</li>
        }
    </ul>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("GoodsShow","Mall",new { CateName=@item.Color.Trim()
    })">@item.Color</a>
</li>
        }
    </ul>

</body>
</html>


