
@model IEnumerable<Models.GGCC>
@{
    ViewBag.Title = "GoodsShow";
    Layout = null;
}

<h2>GoodsShow</h2>
@*@foreach(var item in Model) {*@
<div id="DD">
    @Html.Action("GoodsType", "Mall");
</div>
@*}*@

