@model IEnumerable<Models.OrderDetails>
   <table>
       <tr>
           <th>商品名称</th>
           <th>商品图片</th>
           <th>商品单价</th>
           <th>商品数量</th>
       </tr>

@foreach(var item in Model)
{
    <tr>
       <td>@Html.DisplayFor(modelItem=>item.Goods.Name)</td>
        <td><img src="~/Images/GoodsImages/@item.Goods.GoodsImage" /></td>
        <td>@item.Goods.Unitprice</td>
        <td>@item.Count</td>
   </tr>
  
}
   </table>
