@model IEnumerable<Models.ComReply>
    @{ 
        Layout = null;
    }
<style>
 
 </style>
@foreach (var item in Model)
{

    
    <div style="margin-left:120px;">
        <a>@item.Users.UserName</a> 回复 <a>@item.GoodsComment.Users.UserName:</a><p>&nbsp;&nbsp;@item.RepContent</p>
    </div>
        
}
