@model 精致的衣橱.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<link href="~/Content/shouye.css" rel="stylesheet" />

<!-- 首页第一块板块 -->
<div class="shouyeban1 container">
    <div class="central">
        <div class="zong-nav">
            <div class="nav">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">我的衣橱</a></li>
                    <li><a href="#">衣橱秀</a></li>
                    <li><a href="#">商城</a></li>
                    <li><a href="#">个性推荐</a></li>
                    <li class="logo">JZYC</li>
                </ul>
            </div>
            <div class="nav-r">
                <div class="login-out">
                    <div class="login">
                        <a href="#">登陆</a>
                        <a href="#">注册</a>
                    </div>
                    <div class="logout"></div>
                </div>
                <div class="zoom"></div>
            </div>
        </div>
        <div class="yichu">
            <div class="leftdoor">
                <img src="~/shouyeimg/leftzheng.jpg" />
                <img src="~/shouyeimg/fan.jpg" />
            </div>
            <div class="rightdoor">
                <img src="~/shouyeimg/rightzheng.jpg" />
                <img src="~/shouyeimg/fan.jpg" />
            </div>
            <div class="dandoor">
                <img src="~/shouyeimg/danzheng.jpg" />
                <img src="~/shouyeimg/fan.jpg" />
            </div>
        </div>
    </div>
    <div class="foot">
        <ul>
            <li>热门笔记</li>
            <li>热门视频</li>
            <li>新品上架</li>
            <li>热销商品</li>
        </ul>
    </div>
</div>
<!-- 热门笔记 -->
<div class="note container">
    <div class="notetop">
        <!-- 热门笔记头部 -->
        <h3>笔记</h3>
        <span>热门推荐</span>
    </div>
    <ul>
        <!-- 笔记展示 -->
        @foreach (var note in Model.notes)
        {
            <li>
                <img src="/Images/Noteimg/@note.Img" />
                <h3>什么衣服</h3>
                <p>作者：某某某某</p>
            </li>
        }
    </ul>
</div>
<!--热门视频-->
<div class="hotvideo container">
        <div class="videotop"><!--热门视频头部-->
        </div>
        <ul><!--视频展示-->
           @foreach (var video in Model.videos)
           {
               <li>
                   <img src="~/Images/videoimg/@video.img" />
               </li>
           }
        </ul>
</div>