
@{
    //ViewBag.Title = "UpVideo";
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
}
<style>
    body {
        background-color: #f5f5f5;
    }
 /************************上传图片开始************************/
         * { margin: 0; padding: 0; } 
         .upload { 
             display: inline-block; 
             width: 200px; 
             height: 200px; 
             line-height: 60px; 
             background: #fff; 
             position: relative; 
             text-align: center; } 
         /*input 标签有默认的宽高border,outline*/
          .upload> input { 
              position: absolute; 
              top: 0; 
              left: 0; 
              width: 100%; 
              height: 100%; 
              /*透明度为0*/ opacity: 0; 
              cursor: pointer; 
          }
 /******************上传图片结束*****************************/
    .top {
        width: 80%;
        height: 250px;
        overflow: hidden;
        margin: 20px auto;
        background-color: #fff;
    }
    .video {
        width: 80%;
        margin: 20px auto;
        background-color: #fff;
    }
    .left {
        float: left;
        margin: 28px;
    }
    .right{
        float: left;

    }
    .right input,
    .right textarea {
            margin-top: 28px;
            width: 470px;
            font-size: 16px;
            border: 1px solid #c9c9c9;
            border-radius: 4px;
    }
        .right textarea {
            margin-top: 14px;
            height: 160px;
         }
     .button {
            display: block;
            width: 80%;
            height: 30px;
            background-color: #fff;
            border: 0px;
            margin: 0px auto;
        }
</style>
@using (Html.BeginForm("UpVideo", "YiChuShow", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="top">
        <div class="left">
            <div class="upload">
                @*<p style="text-align: left">上传封面</p>*@
                <img id="imgpre" src="~/Images/yichu/placeholder-img.jpg" style="height:200px;width:200px;" alt="Image preview...">
                <input type="file" id="imgFile" name="imgfile" onchange="previewFile()">
            </div>
        </div>
        <div class="right">
            <input name="title" value="请输入标题" />
            <br />
            <textarea id="intro" name="intro" placeholder="视频详情的简介，点击右侧更换视频封面"></textarea>
        </div>
    </div>

    @Html.AntiForgeryToken()
    <div class="video">
        <h2>视频文件上传</h2>
        <input type="file" name="video" accept="video/*">
        @*<p>封面</p>
            <div id="containner">
                <input type="file" id="imgFile" name="imgfile" onchange="previewFile()" accept="image/*"><br>
                <img src="" height="200" alt="Image preview...">
            </div>*@
    </div>
   <input class="button" type="submit" value="提交" />
}
<script type="text/javascript">
    function previewFile() {
        var preview = document.getElementById('imgpre')
        //var fileDom = document.querySelector('input[type=file]')
        var fileDom = document.getElementById('imgFile')
        // 获取得到file 对象
        var file = fileDom.files[0]
        // 限制上传图片的大小
        if (file.size > 1024 * 1024 * 2) {
            alert('图片大小不能超过 2MB!');
            return false;
        }
        // 创建url
        var imgUrl = window.URL.createObjectURL(file)
        preview.setAttribute("src", imgUrl)
        // 更改img url 以后释放 url
        preview.onload = function () {
            // console.log('图片加载成功')
            URL.revokeObjectURL(imgUrl)
        }
    }
</script>