
@{
    Layout = "~/Views/Shared/_UsershowhomeLayout.cshtml";
}

@*
            .main .tianqi {
                min-height: 800px;
                width: 255px;
                background-color: white;
                float: left;
                border: 1px solid rgb(238,238,238);
                border-radius: 1% 0 0 1%;
            }

            .main .content {
                min-height: 800px;
                width: 1033px;
                background-color: white;
                float: right;
                border: 1px solid rgb(238,238,238);
                border-radius: 0 1% 1% 0;
            }
*@

        <div class="tianqi">
        </div>
        <div class="content">
        </div>

