@model 精致的衣橱.Models.YiChuShowViewModel
@{
    Layout = "~/Views/Shared/_UsershowhomeLayout.cshtml";
}
<div id="userlike">
    @foreach (var video in Model.userlikevideo)
    {
        @video.Video.Image
    }
    @foreach (var note in Model.userlikenote)
    {
        @note.Note.Img
    }
</div>
<div id="usernote">
    
</div>
<div id="uservideo">

</div>

