@{
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
}
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f2f2f2;
        }
        h1, h2, h3, p, span {
           font-family: 'Roboto Mono', monospace;
        }
        .container {
            max-width: 1319px;
        }

        .main {
            margin-top: 14px;
        }
 /*************导航栏开始***********************************/
         .top nav {
            height: 78px;
            background-color: white;
            box-sizing: border-box;
        }
        .top nav li {
            display: inline-block;
            font-size: 19px;
            line-height: 78px;
            margin-right: 16px;
            position: relative;
                
       }
        .top nav a {
            color: black;
        }
        .top nav span{
           color: #dfcdcb;
        }

 /*************导航栏结束***********************************/

 /******************用户个人信息开始***********************/
         .banner {
            background-size: cover;
            height: 110px;
            box-sizing: border-box;
            position: relative;
        }
        .banner img {
            height: 77px;
            width: 77px;
            border-radius: 50%;
            margin-left: 27px;
            margin-bottom: 20px;
            border: 2px solid rgba(255,255,255,0.3);
        }

        .banner h2,
        .banner span,
        .banner a {
            display: inline-block;
            color: #f2f2f2;
        }

        .banner h2 {
            margin-left: 28px;
        }

        .banner .h-user {
            position: absolute;
            bottom: 0px;
            height: 95px;
            width: 100%;
            background: #fff;
            box-sizing: border-box;
            border-top: 14px solid #f2f2f2;
            border-bottom: 1px solid #f2f2f2;
        }
        .h-action {
            position: absolute;
            right: 0px;
            bottom: 20px;
        }

            .h-action span,
            .h-action a {
                box-sizing: border-box;
                width: 76px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
                border: 2px solid #fff;
                border-radius: 14%;
                margin-right: 60px;
            }

            .h-action span {
                background-color: rgb(202,220,222);
                margin-right: 20px;
            }
/******************用户个人信息结束***********************/
    </style>
    <div class="top container">
        <div class="banner" >
            <div class="h-user">
                <img src="~/Images/HeadImages/1.jpg" />
                <h2>疯狂的企鹅</h2>
                <span>女</span>
                @*判断用户是否为登入用户，如果是编辑个人信息，不是就显示加关注*@
                <span>加关注</span>
                <span>编辑个人信息</span>
                <div class="h-action">
                    <span>关注</span>
                    <span>粉丝</span>
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <span class="glyphicon glyphicon-home"></span>
                    <a href="@Url.Action("Index","YiChuShow")">秀场</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-heart-empty"></span>
                    <a href="#">喜欢</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-book"></span>
                    <a href="#">笔记</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <a href="#">视频</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main container">
        @RenderBody()
    </div>
