
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddClothes</title>
</head>
<body>
    <div> 
        <h1>添加单件衣服</h1>
        <p>图片上传</p>
        <!--以下选填-->
        <p>颜色选择框</p>
        <div>
            <form>
                <input type="radio" name="color" value="red">红
                <input type="radio" name="color" value="write">白
                <input type="radio" name="color" value="mi">米
                <input type="radio" name="color" value="black">黑
                <input type="radio" name="color" value="yellow">黄
                <input type="radio" name="color" value="blue">蓝
                <input type="radio" name="color" value="green">绿
                <input type="radio" name="color" value="orange">橙
                <input type="radio" name="color" value="zi">紫
                <input type="radio" name="color" value="hui">灰
                <input type="radio" name="color" value="zong">棕
               
            </form> 
        </div>
        <p>款式选择框</p>
        <p>材质选择框</p>
        <input type="radio" name="material" value="pige">皮革
        <input type="radio" name="material" value="xuefang">雪纺
        <input type="radio" name="material" value="mianma">棉麻
        <input type="radio" name="material" value="mian">棉
        <input type="radio" name="material" value="sichou">丝绸
        <input type="radio" name="material" value="nirong">呢绒
        <input type="radio" name="material" value="niuza">牛仔
    </div>
</body>
</html>
