@model 精致的衣橱.Models.YiChuViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url('../../Images/yichu/wu.jpg');
            background-size: cover;
        }
        ul {
           margin-top: 39px;
           margin-bottom: 10px;
         }
        .main {
            height: 700px;
            width: 85%;
            background-color: rgba(0,0,0,0.5);
            margin:20px auto;
        }
        .main-l {
            position: relative;
            height: 100%;
            width: 20%;
            float: left;
            background-color: white;
        }
        .main-r {
            height: 100%;
            width: 79.9%;
            float: right;
            background-color: #f5f5f5;
        }
        .userinfo img {
            height: 77px;
            width: 77px;
            border-radius: 50%;
            margin-left: 27px;
            margin-bottom: 20px;
            border: 2px solid rgba(255,255,255,0.3);
        }
       
        .daohang li {
        list-style: none;
        }
        .main-l ul {
        margin-left: 50px;
        }
        .main-l .daohang li {
         display: block;
         height: 80px;
        }
        .main-l .daohang a {
        color: darkgray;
        }
        .add {
         width: 54px;
        background-color: rgb(202,220,222);
        border-radius: 50%;
        color: white;
        text-align: center;
        line-height: 56px;
        margin-left: 566px;
        }
        #footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 124px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: linear-gradient(to top,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 100%), url('../../Images/yichu/麋鹿素材.jpg');
            /*background-blend-mode: multiply;*/
        }
        .category li {
           display: inline-block;
        }
        .main-r .daohang {
           margin-top: 30px;
        }
        .main-r .daohang h2,
        .main-r .daohang input,
        .main-r .daohang .glyphicon-search {
          margin-left:50px;
        }
        .main-r .daohang input {
            outline: 0;
            border: 1px solid #f5f5f5;
            border-radius: 30%;
            margin-left: 10px;
        }
        .tab-pane img {
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
      <div class="main">
          <div class="main-l">
              <h2>YiChu</h2>
              <div class="userinfo">
                  <img src="~/Images/HeadImages/1.jpg"/>
                  <p style="display: inline-block;">我是一只麋鹿</p>
              </div>
              <div class="daohang">
                  <ul>
                      <li>
                          <a href="#">
                              <span class="glyphicon glyphicon-home"></span>
                              回到首页
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <span class="glyphicon glyphicon-paperclip"></span>
                              我的衣服
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <span class="glyphicon glyphicon-send"></span>
                              今日推荐
                          </a>
                      </li>
                  </ul>
              </div> 
              <div id="footer"></div>
          </div>
          <div class="main-r">
              <div class="daohang">
                  <h2 style="display: inline-block;">Choleth</h2>
                  <span class="glyphicon glyphicon-search"></span>
                  <input placeholder="搜受" />
                  <span class="glyphicon glyphicon-plus add">
                      <a href="#"></a>
                  </span>
              </div>
              <div class="category">
                  <ul id="myTab">
                      <li class="active">
                          <a href="#spring" data-toggle="tab">春</a>
                      </li>
                      <li>
                          <a href="#summer" data-toggle="tab">夏</a>
                      </li>
                      <li>
                          <a href="#autumn" data-toggle="tab">秋</a>
                      </li>
                      <li>
                          <a href="#winter" data-toggle="tab">冬</a>
                      </li>
                  </ul>
              </div>
              <div class="content tab-content" id="myTabContent">
                  <div class="tab-pane in active" id="spring">
                      <div>
                          @foreach (var c in Model.springcoat) {   
                            <img src="/Images/Coat/@c.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.springshirt) {
                            <img src="/Images/shirt/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.springsuit) {
                            <img src="/Images/Suit/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var n in Model.springnethergarment) {
                            <img src="/Images/NetherGarment/@n.Image" />
                          }
                      </div>
                      <p>春天</p>
                  </div>
                  <div class="tab-pane " id="summer">
                      <div>
                          @foreach (var c in Model.summercoat)
                          {
                            <img src="/Images/Coat/@c.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.summershirt)
                          {
                            <img src="/Images/shirt/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.summersuit)
                          {
                            <img src="/Images/Suit/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var n in Model.summernethergarment)
                          {
                            <img src="/Images/NetherGarment/@n.Image" />
                          }
                      </div>
                      <p>夏天</p>
                  </div>
                  <div class="tab-pane " id="autumn">
                      <div>
                          @foreach (var c in Model.autumncoat)
                          {
                            <img src="/Images/Coat/@c.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.autumnshirt)
                          {
                            <img src="/Images/shirt/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.autumnsuit)
                          {
                            <img src="/Images/Suit/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var n in Model.autumnnethergarment)
                          {
                            <img src="/Images/NetherGarment/@n.Image" />
                          }
                      </div>
                      <p>秋天</p>
                  </div>
                  <div class="tab-pane " id="winter">
                      <div>
                          @foreach (var c in Model.wintercoat)
                          {
                            <img src="/Images/Coat/@c.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.wintershirt)
                          {
                            <img src="/Images/shirt/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var s in Model.wintersuit)
                          {
                            <img src="/Images/Suit/@s.Image" />
                          }
                      </div>
                      <div>
                          @foreach (var n in Model.autumnnethergarment)
                          {
                            <img src="/Images/NetherGarment/@n.Image" />
                          }
                      </div>
                      <p>冬天</p>
                  </div>
              </div>
             <script>
	         $(function () {
		     $('#myTab li:eq(1) a').tab('show');});
             </script>
          </div>
      </div>
</body>
</html>
