
@model 精致的衣橱.Models.YiChuViewModel
@{
    Layout = null;
}
<div>
    @if (Model.coatbytemp.FirstOrDefault() != null)
    {
        <span>外套</span>
    }
    <div class="ml">
        @foreach (var c in Model.coatbytemp)
        {
            <img src="/Images/Coat/@c.Image" />
        }
    </div>
</div>
<div>
    @if (Model.shirtbytemp.FirstOrDefault() != null)
    {
        <span>上单衣</span>
    }
    <div class="ml">
        @foreach (var s in Model.shirtbytemp)
        {
            <img src="/Images/shirt/@s.Image" />
        }
    </div>
</div>
<div>
    @if (Model.nethergarmentbytemp.FirstOrDefault() != null)
    {
        <span>下装</span>
    }
    <div class="ml">
        @foreach (var n in Model.nethergarmentbytemp)
        {
            <img src="/Images/NetherGarment/@n.Image" />
        }
    </div>
</div>
<div >
    @if (Model.suitbytemp.FirstOrDefault() != null)
    {
        <span>套装</span>
    }
    <div class="ml">
        @foreach (var s in Model.suitbytemp)
        {
            <img src="/Images/Suit/@s.Image" />
        }
    </div>
</div>

@if (Model.dapeishangyi.FirstOrDefault() != null)
{
    <span>为你搭配</span>
}
<div>
    @foreach (var a in Model.dapeishangyi)
    {
        <img src="/Images/shirt/@a.Image" />
    }
</div>
<div>
    @foreach (var n in Model.daipeixiyi)
    {
        <img src="/Images/NetherGarment/@n.Image" />
    }
</div>

