@model IEnumerable<Models.Goods>
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/partner.css" rel="stylesheet" />
@foreach(var item in Model) {
<div id="mw-wrap" data-len="5" class="clearfix" style="display:block">
    <div class="mw-banner-wrap">
        <div class="mw-banner-inner clearfix">
            <div class="mw-banner-left">
                <img src="~/Images/GoodsImages/@item.GoodsImage" style="width:570px;height:570px" data-baiduimageplus-ignore="1" />

            </div>
            <div class="mw-banner-right">
                <div class="haowu-title-span">
                    <div style="font-size:20px;margin-bottom:9px;height:32px;width:126px;line-height:32px;font-weight:200;color:#999999">今日好物</div>
                    <span style="display:block;height:24px;line-height:24px;color:#bbbbbb;font-size:24px;font-weight:100;">13/6</span>

                </div>
                <div class="haowu-title-span2">
                    <p style="margin:0;height:18px;line-height:18px;color:#222222;font-size:18px;font-weight:bold;">
                        <a href="@Url.Action("GoodsDetails","Mall",new {id=@item.GoodsID })">商品名称</a>
                    </p>
                    <p style="margin:0;margin-top:10px;margin-bottom:20px;height:14px;line-height:14px;color:#999999;font-size:14px;font-weight:200;">中通顺丰包邮</p>
                    <div class="trick-line"></div>
                    <div class="haowu-price">￥@item.Unitprice</div>
                    <a href="@Url.Action("GoodsDetails","Mall",new {id=@item.GoodsID })" target="_blank" class="button-buy">立即购买</a>
                    <p class="haowu-desc">小编暂未设置推荐语～</p>
                </div>
            </div>
        </div>

    </div>
</div>
}